<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Category>
              <version>1.0.0</version>
        </Ccc_Category>
    </modules>
    
    <global>
        <helpers>
            <category>
                <class>Ccc_Category_Helper</class>
            </category>
        </helpers>

        <blocks>
            <category>
                <class>Ccc_Category_Block</class>
            </category>
        </blocks>

        <models>
            <category>
                <class>Ccc_Category_Model</class>
                <resourceModel>category_resource</resourceModel>
            </category>

            <category_resource>
                <class>Ccc_Category_Model_Resource</class>
                <entities>
                  <category>
                    <table>category</table>
                  </category>                    
                </entities>
            </category_resource>
        </models>

        <resources>
            <category_setup>
                <setup>
                    <module>Ccc_Category</module>    
                </setup>
            </category_setup>
        </resources>
    </global>

    <admin>
        <routers>
			<category>
				<use>admin</use>
				<args>
					<module>Ccc_Category</module>
					<frontName>grid</frontName>
				</args>
			</category>
		</routers>
    </admin>

    <adminhtml>
        <menu>
            <category module="category">
                <title>category</title>
                <sort_order>100</sort_order>
                <children>
                    <adgrid module="category">
                        <title>Manage Items</title>
                        <sort_order>0</sort_order>
                        <action>grid/Adminhtml_category</action>
                    </adgrid>
                </children>
            </category>
        </menu>

        <acl>
            <resources>
                <all>
                <title>Allow Everything</title>
                </all>
                <admin>
                <children>
                    <category translate="title" module="category">
                        <title>category</title>
                        <sort_order>1000</sort_order>
                        <children>
                        <categorybackend translate="title">
                            <title>Manage Items</title>
                        </categorybackend>
                        </children>
                    </category>
                </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>